* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: #ccc;
}
.radius {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fc0;
}
.radius:first-of-type {
    top: -50px;
    left: -50px;
}
.radius:last-of-type {
    bottom: -50px;
    right: -50px;
}
